<ion-view title="'Add Alarm'">
    <ion-header-bar title={{headerTitle}}
                    animation="nav-title-slide-ios7"
                    type="bar-positive"
                    left-buttons="leftButtons"
                    right-buttons="rightButtons">
    </ion-header-bar>
    <ion-content has-header="true">
        <div class="item" ng-click="launchDatePicker()" ng-model="alarmTime">
            <div class="inline row-center" style="width:100%;">
                <label class="title title-left">
                    <i class="icon ion-ios7-alarm"></i> Time:
                </label>
                <label class="col-center">
                    {{alarmTime.toLocaleTimeString()}}
                </label>
            </div>
        </div>
        <div class="item">
            <label class="title title-left">
                <i class="icon ion-icecream"></i> Label:
            </label>
            <div class="item item-input-inline-flex alarm__input">
                <input class="item-input-inline-flex" type="text" ng-model="alarmName" placeholder="Alarm">
            </div>
        </div>
        <div class="item">
            <div class="">
                <label class="title title-left">
                    <i class="icon ion-ios7-musical-notes"></i> Sound:
                </label>
                <span class="text-right">
                    Alarm
                </span>
                <i class="float-right icon ion-chevron-right" ng-click="openSongList()"></i>
            </div>
        </div>
    </ion-content>
</ion-view>
