<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mojo" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mojo</name>
    <description>
        An alarm clock to motivate you throughout the day
    </description>
    <author email="cjweiner@gmail.com" href="corey-weiner.com">
        Corey Weiner
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true   " />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
